.wrap{
    overflow: hidden;
    min-width: 1150px;
    max-width: 1920px;
    -webkit-tap-highlight-color: transparent;
}
header{
    min-width: 1150px;
    max-width: 1920px;
    width: 100%;
    height: 120px;
    padding: 0 3%;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    transition: all 0.5s;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}
.header_active,
header:hover{
    height: 80px;
    color: #333;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}
header > ul{
    flex: 1 1 auto;
    font-size: 15px;
}
.logo, .center{
    width: 150px;
    height: 100%;
    margin: 0 8%;
    flex: 0 0 auto;
}
.logo{
    background: url(../img/svg/logo_white.svg) no-repeat center / contain;
    transition: all .5s;
    cursor: pointer;
}    
.logo a{
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -999999px;
}
.logo_active,
header:hover .logo{
    background: url(../img/svg/logo.svg) no-repeat center / contain;
}
.gnb_l li, .gnb_r li{
    min-width: 115.5px;
    width: 30%;
    flex: 0 0 auto;
}
 
nav{
    width: 100%;
    height: 0;
    padding: 0 3%;
    overflow: hidden;
    align-items: flex-start !important;
    box-sizing: border-box;
    color: #333;
    border-top: 1px solid #9c2033;
    background-color: #fff;
    transition: all .5s;

    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
}
.nav_active{
    height: 320px;
    padding: 2% 3%;
    opacity: 1;
}
.t_active{
    border-bottom: 1px solid #9c2033;
    box-sizing: border-box;
}
nav > div{
    flex: 1 1 auto;
    align-items: flex-start !important;
}
nav ul{
    width: 144px;
}
nav li::after{
    content: "";
    display: block;
    text-align: center;
    width: 0;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #9c2033;
    transition: all 0.5s;
}
nav li:hover{
    color: #9c2033;
}
nav li:hover::after{
    width: 100%;
}

/* footer */
footer{
    width: 100%;
    height: 300px;
    margin-top: 10%;
    padding: 2% 5%;
    box-sizing: border-box;
    color: #333;
    font-weight: 400;
}
footer .f__menu{
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #9c2033;
    justify-content: space-around;
}
footer li{
    width: calc(100% / 3);
    color: #9c2033;
}
footer li:nth-child(2){
    border-right: 1px solid #9c2033;
    border-left: 1px solid #9c2033;
}
.f__body{
    padding: 0 30px;
}
footer img{
    width: 150px;
    margin-right: 5%;
}
.f__txt{
    text-align: left;
    line-height: 30px;
    flex-direction: column;
    align-items: flex-start;
}
