main{
    margin-top: 60px;
}
.sec_title{
    width: 100%;
    height: 60vw;
    padding: 0;
    
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: 85% -21px;
}
section{
    padding: 0 3%;
    box-sizing: border-box;
    text-align: center;
    color: #333;
}
.m_slide{
    height: 90vw;
    margin: 10% 0;
    margin-bottom: 100px;
    padding: 0;
    padding-bottom: 0;
    position: relative;
}
.m_slide h1{
    height: 15%;    
}
.center_box{
    width: 100%;
    height: 80%;
    position: relative;
}
.center_box .item_sec{
    width: 100%;
    padding: 2%;
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}
.center_box .item_circle{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: rgba(231, 231, 231, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 1s;
    z-index: -1;
}
.item_sec .img_box{
    padding: 0 25%;
    box-sizing: border-box;
    position: relative;
}
.item_sec img{
    transition: all 0.5s;
}
.img_active{
    /* transform: scale(1.3) !important; */
    transform: translate(-50%, -50%) scale(2.5) !important;
}
.txt_active{
    font-size: 30px !important;
}
.btn_active{
    width: 135px !important;
    margin: 10% auto !important;
    font-size: 18px !important;
}
.item_name{
    font-size: 20px;
    font-weight: 700;
    margin: 5% 0;
    transition: all 0.5s;
}
.item_more{
    width: 90px;
    padding: 7px 10px;
    box-sizing: border-box;
    margin: 5% auto;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #ddd;
    border-radius: 30px;
    transition: all 0.5s;
}
.item_more:hover{
    font-size: 900;
    color: #fff;
    background: #9c2033;
}
.arrow{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}
.arrow .prev{
    float: left;
}
.arrow .next{
    float: right;
}
.arrow > div svg:active{
    stroke: #9c2033;
    transition: all 0.3s;
}
.arrow svg{
    width: 50px;
    height: 105px;
    stroke: #c9c9c9;
    stroke-width: 4;
    fill: transparent;
    transition: 0.6s;
    stroke-linecap: round;
}

/* item_list */
.item_box{
    gap: 20px 5%;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.items{
    flex: 0 1 calc((100% - 5%) / 2);
    padding: 3%;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.items a{
    width: 100%;
    height: 100%;
    display: block;
}
.items .img_box{
    position: relative;
}
.items img:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.items .img_box:hover img:nth-child(1){
    opacity: 0;
}
.items .img_box:hover img:nth-child(2){
    opacity: 1;
}
.item_title{
    font-size: 2em;
    text-align: left;
    border-bottom: 1px solid #9c2033;
    margin: 5% 0;
    padding-bottom: 2%;
    padding-left: 2%;
    user-select: none;
}
.p_name{
    height: 40px;
    font-size: 20px;
    font-weight: 700;
}
.desc{
    font-size: 12px;
    font-weight: 500;
    color: #999;
}
.btn_more{
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 30px auto;
    font-size: 30px;
    border-radius: 50%;
    border: 1px solid #ddd;
    transition: all 0.3s;
}
.btn_more:hover{
    color: #fff;
    background-color: #9c2033;
    transform: rotate(180deg);
}

/* modal */
#modal{
    width: 100%;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    font-size: 10px;
    text-align: left;
    background-color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: none;
}
#modal_in{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}
#btn_close{
    font-size: 16px;
    font-weight: 700;
    position: fixed;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
#btn_close:hover{
    color: #9c2033;
}
#img_area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#m_img_box{
    width: 70%;
    height: 40vw;
    margin:  0 auto;
    overflow: hidden;
    position: relative;
}
.m_img{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
    opacity: 0;
}
.m_img:nth-child(1){
    opacity: 1;
}
#m_arrow{
    width: 101%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.m_prev{
    float: left;
    transform: rotate(-180deg);
}
.m_next{
    float: right;
}
.m_arrow{
    width: 30px;
    height: 30px;
    stroke: #eee;
}
.m_arrow:hover{
    stroke: #9c2033;
    transition: all 0.5s;
}
#s_img_box{
    width: 200px;
    margin: 5px auto;
    justify-content: flex-start;
    gap: 5px;
}
.m_indi{
    width: calc((100% - (5px * 2)) / 3);
    border: 3px solid #eee;
    box-sizing: border-box;
    overflow: hidden;
}
.m_indi:hover{
    border: 3px solid #9c2033;
}
.m_indi_active{
    border: 3px solid #9c2033;
}
#m_item_name{
    margin: 0;
    font-size: 20px;
}
#modal_in .line{
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background-color: #9c2033;
}
#desc_area p{
    padding-left: 5px;
    color: #666;
    font-size: 1.1em;
    font-weight: 600;
}
#desc_area h3{
    margin-top: 15px;
    color: #9c2033;
    font-size: 1.4em;
}
#desc_area h3:nth-of-type(1){
    margin-top: 0;
}
@media screen and (max-width: 320px) {
    .items{
        flex: 0 1 100%;
    }
    .center_box .item_circle{
        width: 80px;
        height: 80px;
    }
    .item_name {
        margin: 7% 0;
    }
    #m_img_box{
        height: 60vw;
    }
    .m_img {
        width: 90%;
    }
    .sec_title {
        background-size: 160%;
        background-position: 85% 25px;
    }
    

}