body{
    overflow-y: hidden;
}
header{
    color: #fff;
}
.bar{
    width: 60%;
    height: 3px;

    border-radius: 25px;
    overflow: hidden;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
.bar #line{
    width: 0%;
    height: 3px;
    background-color: #9c2033;
    transition: all 1s;
}
main{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
section{
    width: 100vw;
    height: 100vh;
    text-align: left;
    padding: 100px 10px 0;
    box-sizing: border-box;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 16px;
}
.top_move{
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s;
}
.eco_move{
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s;
}
.c_b_move{
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s;
}
.right_move{
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s;
}
.move_0{
    transform: translateY(0) !important;
    opacity: 1 !important;
}
.move_50{
    transform: translate(-50%, -50%) !important;
    opacity: 1 !important;
}
.scale_{
    transform: scale(0);
    opacity: 1;
}

/* introduce */
#introduce{
    padding: 130px 10px;
    flex-direction: column;
    color: #fff;
    background: url(../img/development/mission_bg01.jpg) no-repeat center / cover;
}
.txt_box > *{
    margin: 0;
    text-align: center;
}
#introduce h1{
    font-weight: 900;
    margin-top: 20px;
}
.txt_box{
    margin-bottom: 20px;
}
.logo_box{
    flex: 0 0 70%;
    width: 80%;
    /* height: 80%; */

    position: relative;
}
.logo_img{
    transition-delay: 1s !important;
}
.logo_box svg{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #fff;
    stroke-width: 3px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    opacity: 0;
}
.logo_box svg:nth-child(2){
    width: 110%;
    height: 110%;
    stroke-width: 3px;
    stroke: rgba(255, 255, 255, 0.2);
    transform: translate(-50%, -50%) rotate(90deg);
}
.logo_box img{
    width: 40%;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


.list{
    padding: 130px 0 0;
    color: #fff;
    font-size: 18px;
    flex-direction: column;
    justify-content: flex-end;
}
.list:nth-child(2){
    background: url(../img/development/mission_list01.jpg) no-repeat center / cover;
}
.list:nth-child(3){
    background: url(../img/development/mission_list02.jpg) no-repeat center / cover;
}
.list:nth-child(4){
    background: url(../img/development/mission_list03.jpg) no-repeat center / cover;
}
.list .img_box{
    width: 30%;
    height: auto;
    overflow: hidden;
}
.list .int_txt{
    width: 100%;
    height: 53%;
    padding:0 15px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
}
.list_number{
    font-size: 40px;
    font-weight: 900;
    color: #9c2033;
    margin: 0;
}
.list_desc{
    line-height: 26px;
}


#mission{
    background-color: #000;
    color: #fff;
}
.mission_txt{
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s;
}
#mission .img_box{
    flex-wrap: wrap;
    justify-self: start;
    width: 100%;
    height: 50%;
    margin: 0 auto;
}
#mission p{
    margin: 2px 0;
    font-size: 10px;
    font-weight: 700;
}
.icon_wrap{
    flex-direction: column;
    width: 27vw;
    height: 27vw;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
}
.icon_wrap img{
    width: 65%;
    margin: 0 auto;
}
.txt_desc{
    text-align: center;
    font-size: 14px;
    padding: 0 20px;
    box-sizing: border-box;
    line-height: 30px;
    margin-top: 60px;
}
.rote{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;

    position: absolute;
    top: 0;
    left: 0;
    animation: rote infinite 5s linear;
}
.icon_wrap:nth-child(2n) .rote{
    animation: rote2 infinite 5s linear;
}
.one{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #9c2033;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes rote {
   0% {transform: rotate(0);}
   100% {transform: rotate(360deg);}
}
@keyframes rote2 {
    0% {transform: rotate(90deg);}
    100% {transform: rotate(450deg);}
}

#eco{
    flex-direction: column;
    justify-self: start;
}
.eco_title{
    margin: 0;
    line-height: 30px;
    font-size: 20px;
    font-weight: 900;
}
#eco ul{
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 40px;
    gap: 2%;
    align-items: flex-start;
}
#eco li{
    flex: 0 0 calc((100% - (2%))/ 2);
}
#eco li p{
    text-align: center;
    font-size: 14px;
}


#c_b{
    justify-self: start;

}
#c_b > p{
    font-size: 16px;
}
.c_b_title{
    margin-top: 0;
    font-size: 24px;
    font-weight: 900;
}
.c_b_box{
    flex-direction: column;
    gap: 5%;
    width: 100%;
    text-align: center;
}
.c_b_box .img_box{
    padding: 0 25%;
    box-sizing: border-box;
}
.c_b_desc{
    font-size: 14px;
}
@media screen and (max-width: 320px) {
    section {
        padding: 80px 10px 0;
    }
    .list .int_txt {
        padding: 0 10px;
    }
    .list_desc {
        font-size: 16px;
    }
    .list_title{
        margin: 10px 0;
    }
    .list_desc{
        margin: 5px 0;
    }
    .txt_desc {
        margin-top: 20px;
        padding: 0 10px;
    }

    
}
@media screen and (max-width: 280px) {
    .list_desc {
        font-size: 14px;
    }
    .txt_desc {
        padding: 0;
        margin: 0;
    }
    .list_title {
        margin: 5px 0;
    }
    .c_b_title {
        font-size: 16px;
    }
    .c_b_desc {
        font-size: 12px;
    }
    #c_b > p {
        font-size: 14px;
    }
}